.main {
    padding: 1rem;
}

.main .hero, .main .posts, .main .galleries {
    margin: 0.5rem 0;
}

.main .hero h1{
    margin-bottom: 1.5rem;
}
.main .hero p {
    margin-bottom: 1rem;
}

.main .posts .details {
    margin: 1rem 0;
}

.main .posts .posts-list,
.main .categories .categories-list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    /* justify-items: center; */
}

.main .posts .posts-list {
    
}

.main .tags .tags-list {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}

.main .tags .tags-list a {
    margin: 0.5rem;
    border: 1px solid #aaa;
    padding: 0.5rem;
}

.main .tags .tags-list a p {
    font-size: 1.5rem;
}

.main .tags .tags-list a p span {
    font-size: 1rem;
    color: #666;
}

.main .series .series-list {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main .series .series-list a {
    border: solid 1px rgba(128, 128, 128, 0.5);
    border-radius: 5px 5px;
    padding: 1rem;
    max-width: 100%;
}

.main .series .series-list a .details {
    padding: 1rem 0;
}

.main .posts .posts-list article,
.main .categories .categories-list a{
    border: solid 1px rgba(128, 128, 128, 0.5);
    border-radius: 5px 5px;
}

.main .posts .posts-list article {
    padding: 0;
}

.main .categories .categories-list {
    column-gap: 4rem;
}

.main .categories .categories-list a {
    text-align: center;
    padding: 1rem 0.5rem;
}
.main .categories .categories-list a h3 {
    margin-bottom: 1rem;
}

.main .posts .posts-list article a {
    display: block;
    height: 100%;
    padding: 0;
}

.main .posts .posts-list article a .title {
    padding-bottom: 0.5rem;
}

.main .posts .posts-list article a .date {
    padding-bottom: 0.5rem;
}

.main .galleries{

}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    border-top: 1px solid #999;
}

.pagination a {
    margin: 0 1rem;
    padding: 0 0.5rem;
    border-bottom: 1px solid #555;
}

@media screen and (min-width: 600px ){
    
    .main .posts .posts-list,
    .main .categories .categories-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 796px ){
    
    .main .posts .posts-list,
    .main .categories .categories-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .main .series .series-list a {
        max-width: 75%;
    }

    .main .tags .tags-list a {
        margin: 0.5rem 1rem;
        border: 1px solid #aaa;
        padding: 0.5rem;
    }
}