body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
    /* width: 90%; */
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
/* 
@media (max-width: 796px) {
    body {
        width: 95%;
    }
} */